{% extends 'poll/base_poll.html' %}

{% block title %}
    {{ poll.title }} - {{ poll.super }}
{% endblock %}

{% block content %}
<h1>
    {{ poll.title }} - {{ poll.num_votes }} user voted
</h1>
<p>
    {{ poll.comment }} 
</p>

{% if messages %}
    <ul>
    {% for message in messages  %}
        <li> {{ message }} </li>
    {% endfor %}
    </ul>
{% endif %}

<p>

     <form action="{% url 'vote' poll.slug %}" method="post">
{#   <form action="." method="post"> #}
       {% csrf_token %}

    {% for question in poll.questions.all %}
            <fieldset id={{ question.id }}>

        {{ question.text  }}

        <br>
          {% for choice in question.choice_set.all %}


             <input type="radio"
              name="choice - {{ choice.text }}"
              id="choice{{ forloop.counter }}"
              value="{{ choice.id }}">
              <label for="choice{{ forloop.counter }}">{{ choice.text }} - {{ choice.num_votes }}  </label><br>


          {% endfor %}

            </fieldset>
        <br>
    {% endfor %}
          <input type="submit" value="Vote" {% if not user_can_vote %}disabled{% endif %} >
  </form>


        {% for choice_dict in results %}

         {{ choice_dict.percent }}
         <br>
        {% endfor %}


</p>
{% endblock %}

