{% extends 'poll/base_poll.html' %}

{% block title %}
    {{ poll.title }} - {{ poll.super }}
{% endblock %}

{% block content %}

    <div class="alert alert-success col-6 offset-md-3">
    {{ poll.title }} - {{ poll.num_votes }} user voted
    </div>


{% if messages %}
<div class="col-6 offset-md-3">
    <ul>
    {% for message in messages  %}
        <li>
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}


     <form action="{% url 'poll_detail_url' poll.slug %}" method="post">
{#   <form action="." method="post">  #}
       {% csrf_token %}
      {% for question in poll.question_set.all %}
            <fieldset id={{ question.id }}>
<div class="list-group-item list-group-item-action col-6 offset-md-3">
        {{ question.text  }}

        <br>
          {% for choice in question.choice_set.all %}


             <input type="radio"
              name="choice - {{ question.id }}"
              id="choice{{ forloop.counter }}"
              value="{{ choice.id }}">
              <label for="choice{{ forloop.counter }}">{{ choice.text }} {% if not user_can_vote %} - {{ choice.percent }}%{% endif %} </label><br>


          {% endfor %}
</div>

            </fieldset>
        <br>
    {% endfor %}
         <div class="col-6 offset-md-3">
          <input type="submit" value="Vote" {% if not user_can_vote %}disabled{% endif %} >
         </div>
  </form>


{% endblock %}

