{% extends 'poll/base_poll.html' %}

{% block title %}
    {{ poll.title }} - {{ poll.super }}
{% endblock %}

{% block content %}
<h1>
    {{ poll.title }}
</h1>
<p>
    {{ poll.comment }} 
</p>

<p>
    {% for question in poll.questions.all %}
        {{ question.text  }}
        <form action="{% url 'vote' poll.slug %}" method="post">
       {% csrf_token %}
        <br>
          {% for choice in question.choice_set.all %}

    <input type="radio"
           name="choice"
           id="choice{{ forloop.counter }}"
           value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>

              <br>
          {% endfor %}
        <input type="submit" value="Vote">
        </form>
        <br>
    {% endfor %}



</p>
{% endblock %}

